version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9090:9090"
    # En modo desarrollo puedes montar ./WEB1 y ./frontend/nginx.conf para evitar rebuilds:
    # volumes:
    #   - ./WEB1:/usr/share/nginx/html:ro
    #   - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped
    networks:
      - mi_red

  proyecto1-api:
    build:
      context: ./backend
    image: proyecto1-api:local
    container_name: proyecto1-api
    ports:
      - "3000:3000"
    volumes:
      - ./backend/data:/app/data
      #Variables de entorno y seguido BBDD
    environment:
      - NODE_ENV=production
      - CORS_ORIGIN=http://192.168.1.11:9090
      - DB_HOST=backend-db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=postgres
    restart: unless-stopped
    networks:
      - mi_red

  backend-db:
    image: postgres:15-alpine
    container_name: backend-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - backend-db-data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - mi_red

volumes:
  backend-db-data:

networks:
  mi_red:
    external: true