services:

  backend-db:
    image: postgres:15-alpine
    container_name: backend-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - backend-db-data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - mi_red
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  proyecto1-api:
    build:
      context: ./backend
    image: proyecto1-api:local
    container_name: proyecto1-api
    volumes:
      - ./backend/data:/app/data
    environment:
      NODE_ENV: production
      CORS_ORIGIN: http://192.168.1.11:8080
      DB_HOST: backend-db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: postgres
    restart: unless-stopped
    networks:
      - mi_red
    depends_on:
      backend-db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:3000/api/health"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 10s

  web:
    build:
      context: ./WEB1
    container_name: web
    ports:
      - "8080:80"
    volumes:
      - ./WEB1:/usr/share/nginx/html
      - ./WEB1/nginx.conf:/etc/nginx/conf.d/default.conf
    restart: unless-stopped
    networks:
      - mi_red
    depends_on:
      proyecto1-api:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost"]
      interval: 30s
      timeout: 3s
      retries: 3

volumes:
  backend-db-data:

networks:
  mi_red:
    external: true
